.sidebar {
  width: 100%;
  border-top: 1px solid var(--border-light);
  background-color: var(--basic-light);
}

.app__sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
}

.navigation {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 60px;
  padding: 10px 0;
}

.navigation__group {
  display: none;
}

.navigation__group_primary {
  flex-grow: 1;
  display: block;
}

.nav-group__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-template-rows: 100%;
  align-items: baseline;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.nav-group__item {
  text-align: center;
}

.nav-group__link {
  color: inherit;
  font-size: 10px;
  text-decoration: none;
}

.nav-group__link_active {
  color: var(--link-active);
}

.nav-group__link_active .icon {
  fill: var(--link-active);
  opacity: 1;
}

.nav-group__icon {
  display: block;
  margin: auto;
}

@media (min-width: 992px) {
  .sidebar {
    width: auto;
    max-width: 240px;
    padding: 40px 30px 10px;
    border-top: 0;
    overflow-y: auto;
  }

  .app__sidebar {
    top: 80px;
  }

  .navigation {
    flex-direction: column;
    height: auto;
    padding: 0;
    padding-bottom: 30px;
  }

  .navigation__group {
    display: block;
    margin-bottom: 60px;
  }

  .navigation__group:last-child {
    margin-top: 100px;
    margin-bottom: 0;
  }

  .nav-group__title {
    margin-bottom: 30px;
    font-size: 18px;
  }

  .nav-group__list {
    display: block;
  }

  .nav-group__item {
    margin-bottom: 30px;
    text-align: left;
  }

  .nav-group__item_mb_60 {
    margin-bottom: 60px;
  }

  .nav-group__item:last-child {
    margin-bottom: 0;
  }

  .nav-group__link {
    display: flex;
    align-items: center;
    font-size: inherit;
  }

  .nav-group__icon {
    width: 20px;
    margin: 0;
    margin-right: 15px;
  }

  .nav-group__avatar {
    margin-right: 15px;
  }
}
