.header {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 10px 15px;
}

.header__group {
  position: relative;
}

.header__title {
  position: absolute;
  top: 0;
  left: 38px;
  color: var(--basic-dark);
  font-weight: 700;
  line-height: 25px;
  padding-left: 10px;
  line-height: 25px;
  background-color: var(--basic-light);
  white-space: nowrap;
}

.logo__image {
  display: block;
  width: 116px;
  height: 25px;
}

.search-form__input {
  width: 0;
  border: 0;
}

.header__search-form {
  margin-left: auto;
  margin-right: 25px;
}

.header__btn {
  display: none;
}

.header__btn_type_options {
  margin-right: 5px;
  margin-left: 20px;
}

.header__btn:last-child {
  display: block;
}
