.header {
  display: flex;
  align-items: center;
  padding: 10px 15px;
}

.logo__image {
  width: 116px;
  height: 25px;
}

.search-form__input {
  width: 0;
  border: 0;
}

.header__search-form {
  margin-left: auto;
  margin-right: 25px;
}

.header__btn {
  display: none;
}

.header__btn:last-child {
  display: block;
}
