@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");

@import url("./header.css");
@import url("./main.css");
@import url("./sidebar.css");

:root {
  --basic-light: #fff;
  --basic-dark: #000;
  --text-dark: rgba(0, 0, 0, .6);
  --text-semi-dark: #898989;
  --title-dark: #19202c;
  --link-active: #f00;
  --btn-blue: #2196f3;
  --bg-dark: rgba(0, 0, 0, .3);
  --bg-semi-dark: rgba(61, 61, 61, .6);
  --bg-semi-light: rgba(216, 216, 216, .5);
  --bg-light: rgba(255, 255, 255, .2);
  --border-light: #f1f1f1;
}

html, body {
  box-sizing: border-box;
  color: var(--text-semi-dark);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.25;
  font-family: "Mulish", "Tahoma", sans-serif;
  background-color: var(--basic-light);
}

*,
::before,
::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: none;
  overflow: hidden;
  font-size: 1px;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
}
