.title {
  margin: 0;
  color: var(--title-dark);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.25;
}

.title_size_s {
  font-size: 16px;
}

.link {
  color: inherit;
  text-decoration: none;
}

.btn {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.btn_shape_rect {
  padding: 10px 17px;
  text-align: center;
  border-radius: 20px;
}

.btn_shape_text {
  padding: 10px 20px;
  color: var(--basic-dark);
  text-align: center;
  white-space: nowrap;
  background-color: var(--basic-light);
}

.btn_text_small {
  font-size: 12px;
}

.btn_text_medium {
  font-size: 16px;
}

.btn_text_large {
  font-size: 20px;
}

.btn_bg_red {
  color: var(--basic-light);
  background-color: var(--link-active);
}

.btn__image {
  display: block;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

.icon_color_dark {
  fill: var(--basic-dark);
}

.icon_color_semi-dark {
  fill: var(--basic-dark);
  opacity: 0.24;
}

.icon_color_semi-light {
  fill: var(--basic-light);
  opacity: 0.15;
}

.icon_color_light {
  fill: var(--basic-light);
}

.content {
  padding: 10px 0;
}

.content__group {
  margin-bottom: 50px;
}

.content__bio {
  margin-bottom: 30px;
}

.content__channel {
  margin-bottom: 15px;
}

.content > :last-child {
  margin-bottom: 80px;
}

.video-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px 40px;
  padding: 0 15px;
}

.video-list_dir_vertical {
  position: relative;
  padding-top: 40px;
}

.video-list_dir_vertical .title {
  top: 0;
  left: 15px;
}

.video-list_dir_vertical .btn-group {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
}

.video-list_dir_vertical .btn {
  display: flex;
  align-items: center;
  color: var(--title-dark);
  font-weight: 700;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
}

.video-list_dir_vertical .btn::after {
  display: block;
  width: 16px;
  height: 16px;
  margin-left: 22px;
  border-radius: 50%;
  background-color: var(--btn-blue);
  content: "";
}

.video-list__title {
  position: absolute;
  left: -9999px;
}

.video-list__btn-group {
  display: none;
}

.video-item {
  width: 250px;
}

.video-list__item {
  width: 100%;
}

.video-item__link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
  margin-bottom: 4px;
}

.video-preview {
  border-radius: 14px;
  background-color: var(--bg-dark);
}

.video-item__preview {
  position: relative;
  order: -1;
  width: 100%;
}

.video-preview__poster {
  display: block;
  width: 100%;
  height: 150px;
  border-radius: 14px;
}

.video-preview__duration {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 3px 10px;
  color: var(--basic-light);
  font-size: 14px;
  border-radius: 12px;
  background-color: var(--bg-dark);
}

.video-item__info {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.bio {
  display: flex;
  flex-direction: column;
}

.bio__info {
  position: relative;
  top: -35px;
  display: flex;
  flex-direction: column;
  margin-bottom: -15px;
  padding: 0 15px;
}

.bio__subscribers {
  font-size: 12px;
}

.bio__avatar {
  order: -1;
  width: 70px;
  height: 70px;
}

.bio__btn-group {
  padding: 0 15px;
}

.bio__btn {
  display: none;
}

.bio__btn_visible {
  display: inline-block;
  vertical-align: middle;
}

.bio__cover {
  order: -1;
}

.cover {
  width: 100%;
  height: 100px;
}

.cover__image {
  display: block;
  width: 100%;
  height: 100%;
}

.channel {
  padding: 0 15px;
}

.menu {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  height: 27px;
  margin: 0;
  padding: 0;
  padding-right: 45px;
  list-style: none;
  overflow: hidden;
}

.menu__item {
  flex-basis: max-content;
}

.menu__item_type_options {
  position: absolute;
  right: 20px;
}

.menu__btn {
  padding: 4px;
}

.menu__btn_active {
  position: relative;
  color: var(--link-active);
  font-weight: 700;
}

.menu__btn_active::after {
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  border-radius: 3px;
  background-color: var(--link-active);
  content: "";
}

.channel__contents,
.channel__recommendations {
  display: none;
}

.video {
  position: relative;
  padding: 195px 15px 0;
}

.video__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 5px;
}

.video__title {
  max-width: 210px;
}

.player {
  position: relative;
}

.video__player {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  order: -1;
}

.player__screen {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.player__menu {
  position: absolute;
  left: 6px;
  right: 6px;
  bottom: 8px;
  padding: 9px 40px;
  border-radius: 10px;
  background-color: var(--bg-semi-dark);
}

.player__playback {
  display: flex;
  align-items: center;
  column-gap: 6px;
  color: var(--basic-light);
}

.player__time-passed {
  order: 1;
}

.player__time-left {
  order: 3;
}

.player__progress {
  order: 2;
}

.progress,
.progress__bar {
  height: 5px;
  border-radius: 3px;
}

.progress {
  position: relative;
  top: 1px;
  width: 100%;
  background-color: var(--bg-light);
}

.progress__bar {
  width: 20%;
}

.progress__bar_color_red {
  background-color: var(--link-active);
}

.progress__bar_color_white {
  background-color: var(--basic-light);
}

.player__control {
  display: none;
}

.player__control_visible {
  display: initial;
}

.player__control_visible .icon {
  width: 12px;
  height: 12px;
}

.player__control_location_left {
  position: absolute;
  top: 9px;
  left: 18px;
}

.player__control_location_right {
  position: absolute;
  top: 9px;
  right: 18px;
}

.video__views {
  display: block;
  font-size: 12px;
  margin-bottom: 30px;
}

.video__btn-group {
  display: flex;
  column-gap: 10px;
  margin-bottom: 40px;
  overflow: hidden;
}

.video__btn {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.video__btn:last-child {
  display: none;
}

.video__separator {
  height: 1px;
  border: 0;
  margin-bottom: 20px;
  background-color: var(--bg-semi-light);
}

.video__channel-info {
  display: flex;
  align-items: center;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--bg-semi-light);
  margin-bottom: 20px;
}

.video__date,
.video__channel-description {
  display: none;
}

.video__subscribers {
  font-size: 12px;
}

.video__channel-avatar {
  order: -1;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.video__channel-link {
  order: 1;
  margin-left: auto;
  padding: 10px 20px;
  color: var(--link-active);
  text-align: center;
  background-color: var(--basic-light);
}

.channel-link__note {
  display: none;
}
